<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyroom.mapper.FavoriteMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `favorite`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">`user_id`,</if>
            <if test="targetType != null">`target_type`,</if>
            <if test="targetId != null">`target_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="targetType != null">#{targetType},</if>
            <if test="targetId != null">#{targetId},</if>
        </trim>
    </insert>
    <select id="selectById" resultType="com.studyroom.model.Favorite">
        SELECT `id`,
        `user_id`,
        `target_type`,
        `target_id`,
        `create_time`,
        `update_time`,
        `is_deleted` FROM `favorite` WHERE `id` = #{id} AND `is_deleted` = 0
    </select>
    <update id="update">
        UPDATE `favorite` SET `user_id` = #{userId},
        `target_type` = #{targetType},
        `target_id` = #{targetId}, `update_time` = CURRENT_TIMESTAMP
        WHERE `id` = #{id} AND `is_deleted` = 0
    </update>
    <update id="deleteById">
        UPDATE `favorite` SET `is_deleted` = 1, `update_time` = CURRENT_TIMESTAMP
        WHERE `id` = #{id} AND `is_deleted` = 0
    </update>
    <select id="selectPage" resultType="com.studyroom.model.Favorite">
        SELECT `id`,
        `user_id`,
        `target_type`,
        `target_id`,
        `create_time`,
        `update_time`,
        `is_deleted` FROM `favorite` WHERE `is_deleted` = 0
        ORDER BY `id` DESC LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM `favorite` WHERE `is_deleted` = 0
    </select>
</mapper>
